@charset "utf-8";
@import "reset.css";
@import "common.css";
@import "rwdcommon.css";


/* section part */
#section {
    padding-top: 116.22px;
}

.slide {
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.slideouter {
    position: relative;
}

.slide .slideinner:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background: rgba(0, 0, 0, 0.2);
}

.slide .slideinner {
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    position: relative;
    background-position: center 70%;
}

.slide .slideinner:nth-child(1) {
    background-image: url(../images/main-cover_1.jpg);
}

.slide .slideinner:nth-child(2) {
    background-image: url(../images/main-cover_2.jpg);
}

.slide .text {
    text-align: center;
    color: white;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: -1.2px;
}

.slide .text h2 {
    font-size: 70px;
    font-weight: 500;
    text-shadow: -3px 3px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.slide .text p {
    font-size: 19.25px;
    text-shadow: -2px 2px 5px rgba(0, 0, 0, 0.5);
    line-height: 1.4;
    margin-bottom: 40px;
}

.slide .text span {
    font-weight: bold;
    text-decoration: underline;
}

.slide .slideinner .text .btn1 {
    width: 120px;
    height: 52px;
    background: rgba(0, 0, 0, 0.5);
    padding: 14px 28px;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 500;
    border-radius: 4px;
    margin-bottom: 10px;
    transition: all 0.5s;
}

.slide .slideinner .text .btn2 {
    width: 90px;
    height: 52px;
    background: rgba(255, 255, 255, 0.5);
    color: #000;
    padding: 14px 28px;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 500;
    border-radius: 4px;
    margin-bottom: 10px;
    transition: all 0.5s;
}

.slide .text .btn1:hover {
    background-color: #FFD23C;
}

.slide .text .btn2:hover {
    color: #fff;
}

.slideouter {
    position: relative;
}

.slideouter .dotbox {
    position: absolute;
    bottom: 13.5%;
    left: 97.5%;
}

.slideouter .dotbox a {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fff;
}

.slideouter .dotbox a.active {
    background: rgba(0, 0, 0, 0);
    border: 2px solid #80cee7;
}

/* section 본문 내용 */
#section .act, .class, .review {
    padding: 84px 0;
}

#section .title {
    text-align: center;
    /* border-bottom: 1px solid #f77070;  */
}

#section .title h3 {
    font-size: 28px;
    margin: 20px 0 10px;
    font-weight: bold;
    letter-spacing: -2px;
}

#section .title p > span {
    font-weight: 800;
}

#section .title p {
    margin-bottom: 56px;
    font-size: 14px;
    padding-bottom: 25px;
    position: relative;
}

#section .title p::after{
    content: '';
    width: 100px;
    height: 2px;
    background-color: #f77070;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -50px;
}

.act ul li {
    float: left;
    width: 24%;
    height: 185px;
    box-sizing: border-box;
    background-size: auto;
    background-repeat: no-repeat;
    margin: 0 0.5%;
    position: relative;
}

.act ul li div{
    position: absolute;
    top: 10px;
    left: 20px;
    right: 20px;
    bottom: 10px;
    color: #f8f9fa;
}

.act li div > h4 {
    font-size: 19.25px;
    margin: 10px 0;
    font-weight: bold;
    letter-spacing: -1px;
}

.act li div > p {
    font-size: 14px;
    margin: 0 0 10px;
}

.act li div > a {
    font-size: 10.5px;
    margin: 0 0 10px;
    padding: 5px 20px;
    border: 1px solid #f8f9fa;
    letter-spacing: 2px;
}

.act li div > a:hover {
    color: #212529;
    background-color: #f8f9fa;
    transition: all 0.5s;
}

.act ul li:nth-child(1) {
    background-image: url(../images/main-business1.min.jpg);
}

.act ul li:nth-child(1)::before {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(48, 120, 210, 0.5);
}

.act ul li:nth-child(2) {
    background-image: url(../images/main-business2.min.jpg);
}

.act ul li:nth-child(2)::before {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(255, 174, 61, 0.6);
}

.act ul li:nth-child(3) {
    background-image: url(../images/main-business3.min.jpg);
}

.act ul li:nth-child(3)::before {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(48, 205, 210, 0.5);
}

.act ul li:nth-child(4) {
    background-image: url(../images/main-business4.min.jpg);
}

.act ul li:nth-child(4)::before {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(247, 111, 111, 0.5);
}

.curri {
    padding: 84px 0;
}

.curribox > .column {
    float: left;
    width: 31.66%;
}

.curribox > .column:nth-child(2) {
    margin: 0 2.5%;
}

.curribox > .column:first-child > div:first-child,
.curribox > .column:last-child > div:first-child {
    margin-bottom: 15px;
}

.curribox > .column > div {
    position: relative;
}

.curribox .overlay {
    position: absolute;
    overflow: hidden;
    top: 0; left: 0; right: 0; bottom: 0;
    background: linear-gradient(to right bottom, #ffd23c, #ffae3d);
    opacity: 0;
    transition: 0.5s;
}

.curribox .column > div:hover .overlay {
    opacity: 0.8;
}

.curribox .copy {
    position: absolute;
    bottom: -10px; left: 20px; right: 20px;
    color: white;
    transition: 0.5s;
}

.curribox .column > div:hover .copy {
    bottom: 10px;
}

.curribox .copy h3 {
    font-size: 24.5px;
    font-weight: 800;
}

.curribox .copy p {
    font-size: 14px;
    margin: 10px 0;
    line-height: 1.5;
}

/* review */
.review {
    background: #fdeace;
}

.review ul li {
    float: left;
    width: 31.66%;
}

.review ul li:nth-child(2) {
    margin: 0 2.5%;
}

.review ul li > div {
    position: relative;
}

.review .quote {
    position: absolute;
    width: 56px;
    height: 56px;
    background: #ffae3d;
    color: #fff;
    font-size: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 56px;
    top: -28px; left: 10px;
    z-index: 10;
}

.review .blockquote {
    position: relative;
    background: #fff;
    font-size: 17.5px;
    padding: 40px;
    border-radius: 4px;
    font-style: italic;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #333;
}

.review .blockquote:after {
    content: '';
    position: absolute;
    top: 100%; left: 40px;
    border-top: 15px solid #fff;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}

.review .client {
    margin-left: 20px;
    line-height: 20px;
}

.review .client p {
    color: #ffae3d;
    font-size: 20px;
    margin-bottom: 10px;
}

.review .client p a {
    color: #f76f6f;
}

.review .client p a:hover {
    color: #ffd23d;
}

.review .client p span {
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
}

/* slogun */
.slogun {
    position: relative;
    background: url(../images/main-bottomBanner.min.jpg);
    height: 160px;
    background-position: center 100%;
    background-attachment: fixed;
    font-size: 19.25px;
    color: #fff;
    font-weight: 500;
}

.slogun:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background: rgba(0, 0, 0, 0.4);
}

.slogun .row {
    position: relative;
    line-height: 160px;
    letter-spacing: -1px;
    text-align: center;
}

/* csinfo */
.csinfo {
    background: #f5f5f5;
    padding: 84px 0;
    color: #333;
}

.csinfo > .row > div {
    float: left;
    width: 31.66%;
}

.csinfo > .row > div:nth-child(2) {
    margin: 0 2.5%;
}

.csinfo h2 {
    font-size: 21px;
    color: #222;
    font-weight: bold;
    letter-spacing: -1px;
    border-bottom: 2px solid #383d41;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.csinfo .cscenter p:nth-child(1),
.csinfo .cscenter p:nth-child(2) {
    font-size: 19.25px;
    font-weight: bold;
}

.csinfo .cscenter p:nth-child(3),
.csinfo .cscenter p:nth-child(4) {
    font-size: 14px;
    line-height: 1.5;
}

.csinfo .consult {
    font-size: 14px;
}

.csinfo .consult p {
    line-height: 1.5;
    margin-bottom: 10px;
}

.csinfo .consult a {
    display: block;
    letter-spacing: 1px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    width: 130px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    border-radius: 5px;
}

.csinfo .consult a:hover {
    background: #ffd23d;
    transition: 0.5s;
}

.csinfo .row > div:nth-child(3) {
    position: relative;
}

.csinfo .row > div:nth-child(3) .more  {
    position: absolute;
    right: 0; top: 10%;
    font-size: 12px;
    font-weight: 800;
    color: #f76f6f;
}

.csinfo .notice li {
    padding: 2px;
}

.csinfo .notice a {
    font-size: 14px;
}

.csinfo .notice a:before {
    content: '·';
    padding-right: 5px;
    color: #888;
}

.csinfo .notice a:after {
    content: 'NEW';
    color: #ffd23c;
    font-size: 10px;
    font-weight: 800;
    padding-left: 10px;
}