@charset "utf-8";
@import "reset.css";
@import "common.css";

::placeholder { color: blueviolet;}
#joinpage {
    padding: 217px 0 100px;
}
#joinpage h2 {
    text-align: center;
    font-size: 30px;
    letter-spacing: 5px;
}
.joinform .info_pilsoo {
    padding-left: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #000;
    font-size: 15px;
    color: #f00;
}
.joinform .pilsoo_item {
    position: relative;
}
.joinform .pilsoo_item::before {
    content: '*';
    position: absolute;
    left: 5px;
    top: 3px;
    width: 15px;
    font-weight: bold;
    font-size: 17px;
    color: #f00;
}

label {
    width: 200px;
    height: 45px;
    display: inline-block;
    vertical-align: top;
}
.w160 {
    width: 160px;
    height: 45px;
    vertical-align: top;
}
.joinform .info_list {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}
.joinform .info_list li {
    padding: 8px 0;
}
.joinform .tit_lbl {
    display: inline-block;
    width: 20%;
    line-height: 45px;
    font-size: 17px;
    padding-left: 20px ;
    /* letter-spacing: -2px; */
    font-weight: bold;
}
.joinform .info_content {
    display: inline-block;
    width: 79%;
    vertical-align: top;
}
.joinform .info_content input[type=text],
.joinform .info_content input[type=password],
.joinform .info_content input[type=date],
.joinform .info_content select {
    height: 45px;
    border: 1px solid #ccc;
    padding: 0 1em;
    vertical-align: top;
}
.joinform .w320 {
    width: 320px;
}
.joinform .info_content span {
    line-height: 45px;
    padding: 0 5px;
}
.joinform .info_content .w70p {
    width: 70%;
}
.joinform .info_content .mb5 {
    margin-bottom: 5px;
}
.joinform .info_content button {
    height: 45px;
    width: 6em;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.joinform .info_content button:hover {
    cursor: pointer;
    background: #ddd;
}
.joinform .gender_area label,
.joinform .hobby_area label {
    line-height: 45px;
    padding-right: 15px;
    vertical-align: middle;
}
.joinform .info_content textarea {
    width: 70%;
    height: 245px;
    font-size: 15px;
    letter-spacing: -1px;
    color: #444;
    padding: 10px;
    line-height: 1.5;
    resize: none;
}
.joinform .btn {
    margin-top: 20px;
    text-align: center;
}
.joinform .btn input {
    width: 120px;
    height: 30px;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    margin: 0 10px;
}
.joinform .btn input[type=submit] {
    background: red;
}